name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      # λ””λ²„κΉ… : set -eux & trap
      - name: Deploy to EC2
        run: |
#          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'
          ssh -o StrictHostKeyChecking=no -o LogLevel=ERROR -i key.pem ${{ secrets.EC2_USERNAME }}@${{ secrets.EC2_HOST }} << 'EOF'
            set -eux
            trap 'echo "π’¥ μ—λ¬ λ°μƒ! μ‹¤ν¨ν• λΌμΈ: $LINENO" >&2; exit 1' ERR
               
            echo "β… λ°°ν¬ μ‹μ‘"
            cd /home/ec2-user/app
            
            echo "β… μµμ‹  μ½”λ“ pull"
            git pull
            
            echo "β… Docker Compose μ¬μ‹μ‘"
            docker-compose down
            docker-compose up -d --build   
               
            echo "β… λ°°ν¬ μ™„λ£"
#            set -eux
#            cd /home/ec2-user/app
#            git pull origin main
#            docker compose down || true
#            docker compose up -d --build
          EOF

#        λ°°ν¬ ν›„ λ³΄μ•μΌλ΅μΈν•΄ key.pem μ‚­μ 
      - name: Remove SSH Key
        if: always()
        run: rm -f key.pem
